{% extends 'events/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>List of Events</h1>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>Events</th>
    </tr>
    {% if events %}
        {% for event in events %}
            <tr>
                <td><a href="{% url 'show-event' event.id %}" class="btn btn-primary">{{ event }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No Events at this venue</td>
        </tr>
    {% endif %}
</table>

{% endblock %}
</body>
</html>